.gallery-container
    padding: 2% 2% 0
    text-align: justify
    font-size: 0

    &::after
        content: ''
        display: inline-block
        width: 100%

    .work,
    .gap
        display: inline-block
        width: 48.4%

    .work
        text-align: left
        margin-bottom: 2%
        display: none

        &::before
            content: ''
            display: inline-block
            padding-top: 100%

    @media (min-width: $md)
        .work,
        .gap
            width: 32.2%
