.inline
    display: inline !important

.full-width
    width: 100%

.padding
    padding: $gutter

.no-margin
    margin: 0

.text-center
    text-align: center

.clearfix
    &:before,
    &:after
        content: " "
        display: table
    &:after
        clear: both

.img-responsive
    max-width: 100%

.spacer
    padding-bottom: ($gutter * 2)
