body
    background-image: url(/img/general/gallery-bg.png)

.container
    max-width: $lg
    margin: 0 auto
    padding: 0 $gutter

header.header,
section.about
    padding: ($gutter * 4) 0
    background:
        image: url(/img/general/fiori-header.jpg)
        size: cover
        color: $primary

header.header
    padding: ($gutter * 5) 0
    background-position: 50% 30%

    .home-title
        text-align: center
        margin: 0
        color: white

section.gallery
    padding: ($gutter * 2) 0 ($gutter * 3) 0

    .filters
        margin-bottom: ($gutter * 2)

        & > .filter
            display: inline-block
            background-color: white
            padding: ($gutter / 2) $gutter
            border-radius: 4px
            border: 0
            box-shadow: inset 0 -3px 0 $gray-lighter, 0 0 1px rgba(black, 0.1)
            color: $gray-light
            margin: 0 ($gutter / 2) ($gutter / 2) 0

            &.active
                box-shadow: inset 0 -3px 0 $primary, 0 0 1px rgba(black, 0.1)
                color: $primary

            &:focus
                outline: none

    .work
        background:
            size: cover
            position: center
        position: relative
        margin-bottom: $gutter
        text-decoration: none
        border-radius: 4px
        border: 4px solid white
        box-shadow: 1px 1px 5px rgba(black, 0.2)

        img
            vertical-align: top /* fix weird border http://stackoverflow.com/questions/1383048/html-css-weird-invisible-margin-below-pictures */
            width: 100%

        .work-overlay
            background-color: rgba(black, 0)
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            transition: background-color 0.4s ease
            display: flex
            flex-wrap: wrap
            align-items: stretch

            h2, div
                flex-basis: 100%
                color: white
                text-align: center
                position: relative

            h2
                align-self: flex-end
                font-size: rem_calc(28)
                opacity: 0
                transform: scale(0.8)
                transition: all 0.3s ease-in-out

            div
                font-size: 16px
                opacity: 0
                transform: scale(0.8)
                transition: all 0.3s ease-in-out

        @media(min-width: $lg)
            &:hover .work-overlay
                background-color: rgba(black, 0.5)

                h2
                    opacity: 1
                    transform: scale(1)

                div
                    opacity: 1
                    transform: scale(1)

[id^="lightbox-"]
    display: none

.featherlight
    [id^="lightbox-"]
        img
            vertical-align: top
            max-width: 100%
            max-height: calc(90vh - 140px)

        & > h2
            margin: ($gutter / 2) 0
            color: $primary

        & > p
            margin-bottom: ($gutter / 2)
            color: $gray-medium

            & > strong
                color: $gray-dark

            &:last-child
                margin-bottom: 0

section.about
    background-image: linear-gradient(rgba(black, 0.3) 0%, rgba(black, 0.3) 100%), url(/img/general/fiori-header.jpg)
    color: white

    h2
        text-align: center
        color: white

    .about-me
        display: flex
        flex-wrap: wrap
        flex-direction: column

    .portrait
        align-self: center
        padding: $gutter
        text-align: center

        & > img
            border-radius: 999px
            border: 3px solid white
            box-shadow: 1px 3px 10px rgba(black, 0.2)
            max-width: 200px

    .biography
        text-align: center
        font-size: 18px

        & > p
            margin: $gutter 0 0 0

    @media(min-width: $md)
        .about-me
            flex-direction: row
            flex-wrap: nowrap
            align-items: center

        .portrait
            flex: 1 1 auto
            order: 1

        .biography
            flex: 3 1 auto
            text-align: left

section.shows
    padding: ($gutter * 4) 0 ($gutter * 4) 0

    h2
        text-align: center
        color: $primary

    .esposizioni
        list-style: none
        margin: 0
        padding: 0

        li+li
            margin-top: 20px

        .date
            float: left
            width: 130px
            background-color: white
            box-shadow: 0 2px 6px rgba(black, 0.1)
            text-align: center
            padding: 14px 0

            .day,
            .month
                font-size: 32px

            .year
                font-size: 45px
                display: inline-block
                margin-top: 4px

            .month
                color: $primary

        .info
            padding-left: 160px

            .title
                color: #666
                padding-top: 20px

            .place
                font-size: 20px

        @media(max-width: $sm-max)
            li
                text-align: center
                margin-top: 40px !important

                .date
                    float: none
                    display: inline-block

                .info
                    padding-left: 0

section.contact
    padding: ($gutter * 4) 0 ($gutter * 4) 0
    background-color: #333
    background:
        image: url(/img/general/footer-lodyas.png)
        repeat: repeat
    color: #aaa

    .container
        max-width: 640px

    .info
        text-align: center
        margin-bottom: 40px
        line-height: 1.5

    h2
        text-align: center
        color: white

    input,
    textarea
        border: 0

    textarea:focus
        border: 1px solid $primary

.email-sent
    position: fixed
    color: $success-darker
    background-color: $success-lighter
    border: 1px solid $success-light
    padding: $gutter
    top: 20px
    left: 20px
    right: 20px
    font-size: 20px
    border-radius: 4px

    .close
        text-transform: uppercase
        background-color: white
        border: 1px solid $success-light
        float: right
        padding: 6px 12px
        border-radius: 4px
